<div class="add-purchase-form text-center">

    <h1>Lägg till köp</h1>
    <div class="form-group">
        <input type="tel" (keyup.enter)="next($event, price)" class="form-control input-lg" placeholder="Säljare" autofocus #seller  />
        <input type="tel" (keyup.enter)="addPurchase($event, seller, price)" class="form-control input-lg" placeholder="Pris" #price />
        <!--<br>
        <button (click)="addPurchase($event, seller, price)" (keyup.enter)="addPurchase($event, seller, price)" class="btn btn-primary btn-block">Lägg till</button>-->
    </div>
</div>

<div class="purchase-list">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Säljare</th>
                    <th>Pris</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases">
                    <td>{{purchase.seller}}</td>
                    <td>{{purchase.price}}</td>
                    <td class="table-last-column"><i (click)="deletePurchase(purchase)" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
