<div class="add-purchase-form text-center">

    <h1>Lägg till köp</h1>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Säljare" autofocus #seller />
        <input class="form-control input-lg" placeholder="Pris" autofocus #price />
        <br>
        <button (click)="addPurchase($event, seller, price)" class="btn btn-primary btn-block">Lägg till</button>
    </div>
</div>

<div class="purchase-list">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Säljare</th>
                    <th>Pris</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchase of purchases">
                    <td>{{purchase.seller}}</td>
                    <td>{{purchase.price}}</td>
                    <td class="table-last-column"><i (click)="editPurchase($event, purchase)" class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
